<div class="row">
  <div class="col-xs-12 col-md-5 col-md-offset-3">
    <div class="alert alert-danger" *ngIf="error">
      <p class="error">{{ error }}</p>
    </div>
    <div *ngIf="isLoading" style="text-align: center; margin-top: 100px">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form
      #authForm="ngForm"
      (ngSubmit)="onSubmit(authForm)"
      *ngIf="!isLoading"
      [ngClass]="isLoginMode ? 'login' : 'singup'"
    >
      <h3 [ngClass]="isLoginMode ? 'login-color' : 'singup-color'">
        {{ isLoginMode ? 'LOG IN' : 'SING UP' }}
      </h3>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          class="form-control"
          ngModel
          name="email"
          required
          email
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          ngModel
          name="password"
          required
        />
      </div>
      <!-- minlength="6" -->

      <div class="btn-wrapper">
        <button
          class="btn"
          type="submit"
          [disabled]="!authForm.valid"
          [ngClass]="!isLoginMode ? 'btn-primary' : 'btn-success'"
        >
          {{ isLoginMode ? 'Log in' : ' Sign Up' }}
        </button>
        <button
          class="btn"
          (click)="onSwitchMode()"
          type="button"
          [ngClass]="isLoginMode ? 'btn-primary' : 'btn-success'"
        >
          Switch to {{ isLoginMode ? 'Sign up' : 'Login' }}
        </button>
      </div>
    </form>
  </div>
</div>
